@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Bai Jamjuree", sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    font-size: 18px;
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-color: #FFF8F3;
}
main {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
}

.logo-container img {
    display: block;
    width: 60px;
}

.content {
    text-align: center;
    margin-top: 1rem;
    width: 40vw;
    min-width: 300px;
}

 h3 {
    font-size: 1.3rem;
    margin-bottom: 0.6rem;
}

.content p,
.abt-slide-sub-container p {
    color:  hsl(210, 10%, 33%);
}

.btn-container {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.btn-container button {
    border: none;
    padding: 0.6rem 0.8rem;
    border-radius: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 0.7rem;
    color: hsl(203, 27%, 94%);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: background-color 0.6s, color 0.6s, border 0.6s;
}

.ios-btn {
    background-color: hsl(171, 66%, 44%);
}

.ios-btn:hover {
    background-color: transparent;
    color: hsl(171, 66%, 44%);
    border: 1px solid hsl(171, 66%, 44%);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.mac-btn {
    background-color: hsl(233, 100%, 69%);
}

.mac-btn:hover {
    background-color: transparent;
    border: 1px solid hsl(233, 100%, 69%);
    color: hsl(233, 100%, 69%);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* ============================= */
.abt {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
}

.abt-intro-content {
margin: 0 auto;
}
.abt-slide {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.main-img img {
    display: block;
    width: 430px;
    min-width: 300px;
    margin-left: -30px;
}

.abt-intro-content {
    margin-bottom: 1.6rem;
}

.abt-slide-sub-container {
    width: 25vw;
    min-width: 300px;
}

.abt-slide-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.abt-slide-sub-container h5 {
   font-size: 0.9rem;
}

.abt-slide-sub-container p {
   font-size: 0.9rem;
}

.access,
.workflow,
.cards {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3.6rem;
}

.access-content {
    width: 45vw;
    min-width: 300px; 
    text-align: center;
}

.access-content p {
    color:  hsl(210, 10%, 33%);
}

.access-img-container {
    margin-top: 1rem;
}
.access-img-container img {
    display: block;
    width: 430px;
    min-width: 300px;   
}
.cards-content {
    overflow: hidden;
    padding:  1rem;
}
.card p {
   font-size: 13px;
   color:  hsl(210, 10%, 33%);
}

.cards {
    margin-top: 1rem !important;
}

.card {
    width: 20vw;
    min-width: 230px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-color: #FFF8F3;
    padding: 1rem;
    border-radius: 3px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards-content {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

h4 {
    margin-bottom: 4px;
    font-size: 1.1rem;
}

/* co icons styles */
.co-icons {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.icon {
    animation: slide 10s infinite;
}

@keyframes slide {
    0% { transform: translateX(0%); }
    20% { transform: translateX(0%); }
    25% { transform: translateX(-40%); }
    45% { transform: translateX(-20%); }
    50% { transform: translateX(-40%); }
    70% { transform: translateX(-40%); }
    75% { transform: translateX(-60%); }
    95% { transform: translateX(-60%); }
    100% { transform: translateX(20%); }
}

.icon img {
    display: block;
    width: 70px;
}

/* Clipboard for iOS and Mac OS */
.clipboard {
    margin-top: 3rem;
}
.clipboard,
.clipboard-sub-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.clipboard-sub-container,
.clipboard-content {
    width: 40vw;
    min-width: 300px; 
    text-align: center;
}


footer {
    margin-top: 3.5rem;
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-color: #FFF8F3;
    padding:  1rem 2rem;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo img {
    display: block;
    width: 20px;
}

.connect ul li {
    color:  hsl(210, 10%, 33%); 
    transition:  color 0.6s;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

.connect ul li:hover {
    color: hsl(171, 66%, 44%);
}

.connect ul li i {
    font-size: 18px;
}
.connect ul {
   display: flex;
   align-items: center;
   gap: 1rem;
}

.attribution {
    margin-top: 0.4rem;
    text-align: center;
    font-size: 12px;
}

@media only screen and (max-width: 165px) {
.logo-container img {
    width: 13px !important;
}
.content,
.abt-slide-sub-container,
.access-content,
.co-icons,
.clipboard-sub-container{
    width: 22vw;
    min-width: 145px !important;
}

.main-img img,
.access-img-container img {
    display: block;
    width: 145px !important;
    min-width: 145px !important;
    margin-left: -0px !important;
}

.content h3,
.access-content h3 {
    font-size: 15px;
}
.abt-slide-sub-container h5 {
    font-size: 13px !important;
}
.access {
    margin-top: 1rem;
}

.workflow,
.clipboard {
    margin-top: 0.8rem !important;
}

.cards-content {
    flex-direction: column;
}
#cards {
    margin-top: 1rem !important;
}
#one {
    width: 15vw !important;
    min-width: 120px !important;
    height: 150px;
    padding: 0.8rem;
    background-color: hsl(171, 64%, 65%);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#two {
    width: 15vw !important;
    min-width: 120px !important;
    height: 150px;
    padding: 0.8rem;
    background-color: hsl(233, 100%, 69%);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#three {
    width: 15vw !important;
    min-width: 120px !important;
    height: 150px;
    padding: 0.8rem;
    background-color: hsl(171, 64%, 65%);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.abt-slide-sub-container  {
    width: 15vw !important;
    min-width: 120px !important;
    height: auto;
    padding: 0.8rem;  
}
h4 {
    font-size: 14px;
}

.co-icons {
    overflow: hidden;
    margin-top: 0.6rem;
}
.icon img {
    width: 40px;
}

.clipboard-content,
.connect {
    padding: 0 !important;
    width: 145px !important;
    min-width: 145px !important;
}

.clipboard-content h3 {
    font-size: 15px;
}
footer {
    margin-top: 3rem;
}
.footer-content {
    flex-direction: column;
}
.connect {
    margin: 0.6rem 0;

}

.connect ul{
   flex-direction: column;
   gap: 0.4rem;
}

#icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

.attribution {
  font-size: 12px;
}

.footer-content{
    flex-wrap: wrap;
    gap: 0rem;;
    margin-left: -12px;
} 

.guide,
.fq {
    display: block;
}
.socials {
  margin: 0;
  width: fit-content;
}

}


@media only screen and (max-width: 600px) {
    .logo-container img {
        width: 40px;
    }
    .btn-container {
        flex-direction: column;
        width: 100%;
    }

    .abt-slide {
        display: flex;
        flex-direction: column;
    }

    .abt-slide-sub-container {
        text-align: center;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        padding: 1rem;
        border-radius: 3px;
    }

    .abt-slide-sub-container h5 {
        text-align: center;
        margin-bottom: 0.5rem;
        font-size: 18px;
     }

    .abt-slide-sub-container p {
        font-size: 18px;
     }

     .main-img img,
     .access-img-container img,
     .card {
        margin-left: 0px;
        width: 300px;
    }

    .workflow,
    .cards{
        margin-top: 1rem !important;
    }

    .footer-content{
        flex-wrap: wrap;
        gap: 0.7rem;
    } 

    .guide,
    .fq {
        display: none;
    }
    .socials {
      margin: 0 auto;
    }

    .abt-card-one {
        background-color:  hsl(233, 91%, 79%);
        color: #2C4E80;
    }
    .abt-card-two {
        background-color: #EEF7FF;
    }
    .abt-card-three {
        background-color:  hsl(171, 39%, 56%) !important;
        color: #2C4E80;
    } 
    .cards-content {
        display: flex;
        flex-direction: column;
    }
  }



  @media only screen and (max-width: 1000px) {
    .content,
    .access-content,
    .clipboard-content{
        width: 55vw;
    }
    
  }