@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Bai Jamjuree", sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    font-size: 15px;
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-color: #FFF8F3;
}
main {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
}

.logo-container img {
    display: block;
    width: 70px;
}

.content {
    text-align: center;
    margin-top: 1rem;
    width: 40vw;
    min-width: 300px;
}

 h3 {
    font-size: 1.4rem;
    margin-bottom: 0.6rem;
}

.content p,
.abt-slide-sub-container p {
    color:  hsl(210, 10%, 33%);
}

.btn-container {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.btn-container button {
    border: none;
    padding: 0.6rem 0.8rem;
    border-radius: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 0.7rem;
    color: hsl(203, 27%, 94%);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: background-color 0.6s, color 0.6s, border 0.6s;
}

.ios-btn {
    background-color: hsl(171, 66%, 44%);
}

.ios-btn:hover {
    background-color: transparent;
    color: hsl(171, 66%, 44%);
    border: 1px solid hsl(171, 66%, 44%);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.mac-btn {
    background-color: hsl(233, 100%, 69%);
}

.mac-btn:hover {
    background-color: transparent;
    border: 1px solid hsl(233, 100%, 69%);
    color: hsl(233, 100%, 69%);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* ============================= */
.abt {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
}

.abt-intro-content {
margin: 0 auto;
}
.abt-slide {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.main-img img {
    display: block;
    width: 430px;
    min-width: 300px;
    margin-left: -30px;
}

.abt-intro-content {
    margin-bottom: 1.6rem;
}

.abt-slide-sub-container {
    width: 25vw;
    min-width: 300px;
}

.abt-slide-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.abt-slide-sub-container h5 {
   font-size: 0.9rem;
}

.abt-slide-sub-container p {
   font-size: 0.9rem;
}

.access,
.workflow,
.cards {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3.6rem;
}

.access-content {
    width: 45vw;
    min-width: 300px; 
    text-align: center;
}

.access-content p {
    color:  hsl(210, 10%, 33%);
}

.access-img-container {
    margin-top: 1rem;
}
.access-img-container img {
    display: block;
    width: 430px;
    min-width: 300px;   
}

.card p {
   font-size: 13px;
   color:  hsl(210, 10%, 33%);
}

.cards {
    margin-top: 1rem !important;
}

.card {
    width: 20vw;
    min-width: 230px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-color: #FFF8F3;
    padding: 1rem;
    border-radius: 3px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards-content {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

h4 {
    margin-bottom: 4px;
}

/* co icons styles */
.co-icons {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.icon img {
    display: block;
    width: 70px;
}

/* Clipboard for iOS and Mac OS */
.clipboard {
    margin-top: 3rem;
}
.clipboard,
.clipboard-sub-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.clipboard-sub-container {
    width: 40vw;
    min-width: 300px; 
    text-align: center;
}


footer {
    margin-top: 3rem;
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-color: #FFF8F3;
    padding:  1rem 2rem;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo img {
    display: block;
    width: 20px;
}

.connect ul li {
    color:  hsl(210, 10%, 33%); 
    transition:  color 0.6s;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

.connect ul li:hover {
    color: hsl(171, 66%, 44%);
}

.connect ul li i {
    font-size: 18px;
}
.connect ul {
   display: flex;
   align-items: center;
   gap: 1rem;
}

.attribution {
    margin-top: 0.4rem;
    text-align: center;
    font-size: 12px;
}


@media only screen and (max-width: 600px) {
    .logo-container img {
        width: 70px;
    }
    .btn-container {
        flex-direction: column;
        width: 100%;
    }

    .abt-slide {
        display: flex;
        flex-direction: column;
    }

    .abt-slide-sub-container h5 {
        text-align: center;
        margin-bottom: 0.5rem;
        font-size: 18px;
     }

     .main-img img {
        margin-left: 0px;
        width: 300px;
    }
  }